.response {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.response div:nth-child(2) {
  margin-top: 11%;
  margin-bottom: -20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.returnHomeLink {
  text-decoration: none;
  color: #181818;
}

.returnHome {
  font-size: 15px;
  padding: 12px 30px;
  border-radius: 30px 30px;
  box-shadow: 0px 0px 5px -1px #3b3b9c;
  cursor: pointer;
}

.click {
  border-bottom: 1px dashed #3b3b9c;
  cursor: pointer;
}
