.response {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.response div:nth-child(2) {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.return {
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 10px;
  background-color: #3b3b9c;
  color: #ffffff;
  border-radius: 5px;
  border: none;
}
.click {
  border-bottom: 1px dashed #3b3b9c;
  cursor: pointer;
}
