@font-face {
  font-family: "RegEstedad";
  src: url(./assets/font/Estedad/ttf/Estedad-Regular.ttf);
}
@font-face {
  font-family: "BEstedad";
  src: url(./assets/font/Estedad/ttf/Estedad-Bold.ttf);
}
.App {
  background-color: #e1e1e1;
  font-family: "regEstedad";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  input {
    font-family: "RegEstedad";
  }
}
h1 {
  text-align: center;
  width: 86%;
  color: #fff;
  margin-bottom: 13%;
  color: #3b3b9c;
  border-bottom: 1px dashed;
}
@media only screen and(max-width: 355px) {
  h1 {
    font-size: 25px;
  }
}
